body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Arial";
  font-size: 16px;
}
.main {
  color: #1f2328;
  line-height: 1.5;
  word-wrap: break-word;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 20px 80px 20px 80px;
}
.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.main h1 {
  margin: 0.67em 0;
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 1.8em;
  border-bottom: 1px solid #d8dee4;
}
.main h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #d8dee4;
}
.main h3 {
  font-size: 1.25em;
}
.main h4 {
  font-size: 1em;
}
.main h5 {
  font-size: 0.875em;
}
.main h6 {
  font-size: 0.85em;
  color: #656d76;
}
.main a {
  color: #0969da;
  text-decoration: none;
}
.main a:hover {
  text-decoration: underline;
}
.main p,
.main blockquote,
.main ul,
.main ol,
.main table,
.main pre {
  margin-top: 0;
  margin-bottom: 16px;
}
.main b,
.main strong {
  font-weight: 600;
}
.main ul,
.main ol {
  padding-left: 2em;
}
.main li {
  margin-top: 0.25em;
  margin-bottom: 0;
}
.main ol ol,
.main ul ol {
  list-style-type: lower-roman;
}
@media (max-width: 800px) {
  .main {
    padding: 20px;
  }
}
.nav {
  overflow: hidden;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ececec;
}
.inner {
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 0px 100px;
}
.nav a {
  float: left;
  color: #555;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav a:hover {
  color: #a7a7a7;
}
.nav .right {
  float: right;
}
@media (max-width: 800px) {
  .inner {
    padding: 0px 20px;
  }
  .nav a {
    padding: 14px 8px;
  }
}
.post img {
  max-width: 75%;
}
@media (max-width: 800px) {
  .post img {
    max-width: 100%;
  }
}
.post p {
  margin-top: 0;
  margin-bottom: 10px;
}
.post blockquote {
  margin: 0;
  padding: 0 1em;
  color: #656d76;
  border-left: 0.25em solid #d0d7de;
}
.post hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid #d8dee4;
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #d0d7de;
  border: 0;
}
.post table {
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border-collapse: collapse;
}
.post table th {
  font-weight: 600;
}
.post table tr {
  background-color: #fff;
}
.post table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.post code {
  font-size: 85%;
  padding: 0.2em 0.4em;
}
.post pre {
  padding: 16px;
}
.post pre code {
  display: inline;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
}
.post table th,
.post table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}
.post code,
.post pre {
  line-height: 1.35;
  font-family: monospace;
  text-wrap: wrap;
  white-space: pre-wrap;
  border-radius: 6px;
  color: #1f2328;
  background-color: #f6f8fa;
}
.page-nav {
  padding: 0.5em 0;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.page-nav .prev,
.page-nav .next,
.page-nav .page-number {
  padding: 0.1em 0.5em;
}
.page-nav .prev {
  float: left;
}
.page-nav .next {
  float: right;
}
.page-nav a {
  color: #777;
  text-decoration: none;
}
.page-nav a:hover {
  color: #368ccb;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  color: #6c757d !important;
  border-color: #6c757d;
}
